{% extends 'app/base.html' %}
{% load static %}
{% block title %}Empty Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
    <h3 class="text-center" style="color: rgb(69, 138, 138);font-family:Cursive;">You have no Product in your Cart</h3>
    <div class="text-center">
        <img src="https://img.freepik.com/free-vector/shopping-cart-realistic_1284-6011.jpg?w=740&t=st=1686398003~exp=1686398603~hmac=211a77162ca86491027bedc7939fed1569d1d762ee113954005500716afd73ec" alt="" class="img-fluid img-thumbnail w-25 ">
    </div>
  
 </div>
</div>
{% endblock main-content %}


<!-- {% static 'app/images/emptycart.png '%} -->