{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">

    <div class="list-group">
        <a href="{% url 'mblazers' %}" class="list-group-item list-group-item-action active" aria-current="true">
          All Blazers
        </a>
        <a href="{% url 'mblazersdata' 'Park_Avenue' %}" class="list-group-item list-group-item-action active" aria-current="true">
            Park_Avenue
          </a>
          <a href="{% url 'mblazersdata' 'Raymond' %}" class="list-group-item list-group-item-action active" aria-current="true">
            Raymond
          </a>
          <a href="{% url 'mblazersdata' 'Peter_England' %}" class="list-group-item list-group-item-action active" aria-current="true">
            Peter_England
          </a>

      </div>

   <!-- <div class="list-group">
    <a href="{% url 'mblazers' %}" class="list-group-item
    list-group-item-action" aria-current="true">All Blazers </a>
    <a href="{% url 'mblazersdata' 'Park_Avenue' %}"class="list-group-item
    list-group-item-action" aria-current="true">Park Avenue</a>
    <a href="{% url 'mblazersdata' 'Raymond' %}" class="list-group-itemlist-group-item-action" aria-current="true">Raymond</a>
    <a href="{% url 'mblazersdata' 'Peter_England' %}" class="list-group-itemlist-group-item-action" aria-current="true">Peter England</a>
   
   </div> -->
  </div>

  
 


  <div class="col-sm-8 offset-sm-1">
   <div class="row">
    {% for product in mblazers  %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                    <img src="{{ product.product_image.url }}" alt="" height="300" class="">
                    <div class="fw-bold"> {{product.title}} </div>
                    <div class="fw-bold"> Rs. {{product.discounted_price}} 
                        <small class="fw-light text-decoration-line-trough"> {{ product.selling_price }} </small>
                    </div>
                </div>
            </a>

        </div>

    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}